<form action="/records/{{ record._id }}/edit" method="POST">
  <label for="name">名稱*:</label>
  <input type='text' placeholder="請輸入帳目名稱" name="name" value="{{ record.name }}">
  <label for="date">日期*:</label>
  <input type='date' name="date" value="{{ record.date }}">
  <label for="category">類別*:</label>
  <select name="category" value="{{ record.category }}">
    <option value="" disabled selected hidden>Select</option>
    <option value="家居物業">家居物業</option>
    <option value="交通出行">交通出行</option>
    <option value="休閒娛樂">休閒娛樂</option>
    <option value="餐飲食品">餐飲食品</option>
    <option value="其他">其他</option>
  </select>
  <label for="amount">金額*:</label>
  <input type='number' placeholder="請輸入帳目金額" name="amount" min='0' value="{{ record.amount }}">
  <button type="submit">送出</button>
</form>