<a href="/records/new">新增支出</a>

<ul>
  {{#each records}}
  <i class="{{this.categoryImage}}"></i>
  <li>
    {{this.name}}
  </li>
  <li>
    {{this.date}}
  </li>
  <li>
    {{this.amount}}
  </li>
  <li>
    <a href="/records/{{ this._id}}/edit">修改</a>
  </li>
  <form action="/records/{{this._id}}/delete" method="POST">
    <button type="submit">刪除</button>
  </form>
  {{/each}}
</ul>

<p>總金額：{{totalAmount}}</p>