<a href="/records/new">新增支出</a>

<ul>
  {{#each records}}
  <i class="{{this.categoryImage}}"></i>
  <li>
    {{this.name}}
  </li>
  <li>
    {{this.date}}
  </li>
  <li>
    {{this.amount}}
  </li>
  {{/each}}
</ul>

<p>總金額：{{totalAmount}}</p>